<div id="sidebar-fake-bg" class="sidebar-fake-bg"></div>
<nav class="navbar navbar-default navbar-static-top nav-shadow " role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Alterar menu</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <img class="logos" src="/imagens/ICTS_WHITE.SVG" alt="ICTS" style="margin:0px 0px 0px 10px" />
    <img class="logos" src="/imagens/icts_circle_white.SVG" alt="WHITE CIRCLE" />
    <img class="logos" src="/imagens/myprotiviti_white.SVG" alt="MYPROTIVITI" style="height:23px; margin-top: 12px;" />
  </div>

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
        <img class="profile-img" alt="Perfil" src="/imagens/icts_circle_white.SVG" width="30"
          height="30" /><%=usuario.login %> <i class="fa fa-caret-down"></i>
        <!-- <img class="profile-img" alt="Perfil" src="/api/UserProfile/Picture?id=<%=usuario.id %>" width="40" height="40" /><%=usuario.login %> <i class="fa fa-caret-down"></i> -->
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li>
          <a href="/perfil">
            <i class="fa fa-user fa-fw"></i>Meu Perfil
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/logout">
            <i class="fa fa-sign-out fa-fw"></i>Logout
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="navbar-default sidebar" id="sidebar" role="navigation">
    <div id="navbar-collapse" class="sidebar-nav navbar-collapse collapse">
      <ul class="nav" id="side-menu">

        <li>
          <a href="#">
            <i class="fa fa-file-video-o"></i>Cadastro<span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level collapse">
            <li>
              <a href="/cadastro/criar">
                <i class="fa fa-plus fa-fw"></i>Criar
              </a>
            </li>
            <li>
              <a href="/cadastro/listar">
                <i class="fa fa-eye"></i>Visualizar
              </a>
            </li>



          </ul>
        </li>
    </div>
  </div>
</nav>